<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
		<link href="re.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;800&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<title>新規登録画面</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="main">
				<h1>新規登録画面</h1>
				<div class="content">
					<form method="post" action="/add/action"  th:object="${form}" ><!-- th:action="@{/add_msg}" -->
						<input type="text" placeholder="名前(漢字)" th:field="*{name}" required>
						<br>
						<input type="text" placeholder="フリガナ" th:field="*{kana}" required>
						<div class="birthday">
							<label>生年月日</label>
							<input type="date" th:field="*{birthday}" required>
						</div>
						<div class="gender">
							<label>性別</label>
							<input type="radio" id="M" th:field="*{gender}" value="M">M
							<input type="radio" id="F" th:field="*{gender}" value="F">F
							<input type="radio" id="U" th:field="*{gender}" value="U">U
						</div>
						<div class="blood_type">
							<label>血液型</label>
							<input type="radio" id="blood_A" th:field="*{bloodtype}" value="A">A
							<input type="radio" id="blood_B" th:field="*{bloodtype}" value="B">B
							<input type="radio" id="blood_AB" th:field="*{bloodtype}" value="AB">AB
							<input type="radio" id="blood_O" th:field="*{bloodtype}" value="O">O
						</div>
						<input type="email" placeholder="Mail" th:field="*{email}" required>
						<br>
						<input type="tel" placeholder="Tel" th:field="*{tel}" required>
						<br>
						<input type="text" placeholder="郵便番号" th:field="*{zip}" required>
						<br>
						<input type="text" placeholder="住所" th:field="*{address}" required>
						<br>
						<div class="botton_border">
							<input type="submit" th:attr="formaction=@{/add/action}" th:onclick="return editBtn('登録')" value="登録">
							<input type="button" onclick="location.href='menu'" value="メニューへ戻る">
						</div>
						<input type="hidden" th:field="*{password}">
					</form>
				</div>
			</div>
			<script src="/main.js"></script>
			<footer>
				<small>Java company&copy;2023 Copyright</small>
			</footer>
		</div>
	</body>
</html>