<!DOCTYPE html>
<html>
	<head>
		<link href="/re.css" rel="stylesheet">
		<link href="/main.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;800&display=swap" rel="stylesheet">
		<meta charset="UTF-8">
		<title>編集完了画面</title>
	</head>
	<body>
		<div class="wrapper">
			<h1>編集完了画面</h1>
			<h2>正常に登録されました。</h2>
			
			<div class="button_border">
				<form>
					<input type="button" onclick="location.href='/search'" value="検索画面へ戻る">
					<input type="button" onclick="location.href='/menu'" value="メニューへ戻る">
				</form>
			</div>
			<footer>
				<small>Java company&copy;2023 Copyright</small>
			</footer>
		</div>
	</body>
</html>