<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link href="re.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;800&display=swap" rel="stylesheet">
		<title>メニュー画面</title>
	</head>
	<body>
		<div class="wrapper">
			<h1>メニュー画面</h1>
			<form method="get">
				<input type="button" onclick="location.href='add'" value="新規登録">
				<input type="button" onclick="location.href='search'" value="検索">
				<input type="button" onclick="location.href='login'" value="ログアウト">
			</form>	
			<footer>
				<small>Java company&copy;2023 Copyright</small>
			</footer>
		</div>
	</body>
</html>